<div>
    <div id="createDiskStorage" class="create-page-distance">
        <!--磁盘大小-->
        <div class="top10">
            <div class="panel_title none-line fl" style="margin-top: 0;" >{{i18n.common_term_storagecCapacity_label}}：</div>
            <div style="padding-left: 80px;margin-bottom: -15px;">
                <tiny-formfield>
                    <tiny-item label="disk.diskSizeLock.label" require="disk.diskSizeLock.require">
                        <tiny-radiogroup id="disk.diskSizeLock.id" values="disk.diskSizeLock.values" spacing="disk.diskSizeLock.spacing" layout="disk.diskSizeLock.layout" change="disk.diskSizeLock.change()"></tiny-radiogroup>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="horizontal_line" style="clear:both;"></div>
            <div id="createDisk-size" style="margin-top: 20px;">
                <tiny-formfield>
                    <tiny-item label="disk.size.label" require="disk.size.require">
                        <div class="options createStorage-disk bottom10">
                            <div class="types-options disk-options selected" data-value="20">20G</div>
                            <div class="types-options disk-options" data-value="40">40G</div>
                            <div class="types-options disk-options" data-value="80">80G</div>
                            <div class="types-options disk-options" data-value="160">160G</div>
                            <div class="types-options disk-options" data-value="500">500G</div>
                            <div class="types-options disk-options" data-value="1000">1000G</div>
                            <div class="types-options disk-options" self-defined data-value="" ng-bind="i18n.common_term_custom_label"></div>
                            <div class="input-tip">1～65536GB</div>
                        </div>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
        <!--类型-->
        <div class="top10">
            <div class="panel_title none-line fl" style="margin-top: 0;" >{{i18n.common_term_storageType_label}}：</div>
            <div style="padding-left: 80px;margin-bottom: -15px;">
                <tiny-formfield>
                    <tiny-item label="disk.diskTypeLock.label" require="disk.diskTypeLock.require">
                        <tiny-radiogroup id="disk.diskTypeLock.id" values="disk.diskTypeLock.values" spacing="disk.diskTypeLock.spacing" layout="disk.diskTypeLock.layout" change="disk.diskTypeLock.change()"></tiny-radiogroup>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="horizontal_line" style="clear:both;"></div>
            <div id="creatDisk-diskType" style="margin-top: 20px;">
                <tiny-formfield>
                    <tiny-item label="disk.disktype.label" require="disk.disktype.require">
                        <tiny-radiogroup id="disk.disktype.id" values="disk.disktype.values" spacing="disk.disktype.spacing" layout="disk.disktype.layout" change="disk.disktype.change()"></tiny-radiogroup>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
        <!--存储配置类型-->
        <div class="top10" ng-if="cloudType== 'IT'">
            <div class="panel_title none-line fl" style="margin-top: 0;" >{{i18n.common_term_setMode_label}}：</div>
            <div style="padding-left: 80px;margin-bottom: -15px;">
                <tiny-formfield>
                    <tiny-item label="disk.storageConfigLock.label" require="disk.storageConfigLock.require">
                        <tiny-radiogroup id="disk.storageConfigLock.id" values="disk.storageConfigLock.values" spacing="disk.storageConfigLock.spacing" layout="disk.storageConfigLock.layout" change="disk.storageConfigLock.change()"></tiny-radiogroup>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="horizontal_line" style="clear:both;"></div>
            <div id="creatDisk-storageConfigType" style="margin-top: 20px;">
                <tiny-formfield>
                    <tiny-item label="disk.storageConfigType.label"  require="disk.storageConfigType.require">
                    <tiny-select id="disk.storageConfigType.id" values="disk.storageConfigType.values" require="disk.storageConfigType.require"
                                 style="margin-left: 24px;"  width="disk.storageConfigType.width" disable="disk.storageConfigType.disable"></tiny-select>
                    </tiny-item>
                </tiny-formfield>

            </div>
        </div>
        <!--存储介质-->
        <div class="top10">
            <div class="panel_title none-line fl" style="margin-top: 0;" >{{i18n.common_term_storageMedia_label}}：</div>
            <div style="padding-left: 80px;margin-bottom: -15px;">
                <tiny-formfield>
                    <tiny-item label="disk.diskMediaLock.label" require="disk.diskMediaLock.require">
                        <tiny-radiogroup id="disk.diskMediaLock.id" values="disk.diskMediaLock.values" spacing="disk.diskMediaLock.spacing" layout="disk.diskMediaLock.layout" change="disk.diskMediaLock.change()"></tiny-radiogroup>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="horizontal_line" style="clear:both;"></div>
            <div id="createDisk-storageMedia" style="margin-top: 20px;">
                <tiny-formfield>
                    <tiny-item label="disk.diskMedia.label" require="disk.diskMedia.require"
                               labelcls="disk.diskMedia.class">
                        <tiny-select id="disk.diskMedia.id" values="disk.diskMedia.values" style="margin-left: 24px;"width="disk.diskMedia.width" validate="disk.diskMedia.validate">
                        </tiny-select>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
        <div class="fm-btn-top-large">
            <tiny-button id="disk.preBtn.id" text="disk.preBtn.text" tooltip="disk.preBtn.tooltip"
                         click="disk.preBtn.click()"></tiny-button>
            <tiny-button id="disk.nextBtn.id" text="disk.nextBtn.text" tooltip="disk.nextBtn.tooltip"
                         click="disk.nextBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="disk.cancelBtn.id" text="disk.cancelBtn.text" tooltip="disk.cancelBtn.tooltip"
                         click="disk.cancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>
<style type="text/css">
    .custom-instance-types .types {
        overflow: hidden;
    }

    .custom-instance-types .types-item:first-child {
        margin-left: 0;
    }

    .custom-instance-types .types-item {
        cursor: pointer;
        float: left;
        height: 70px;
        width: 56px;
        opacity: .9;
        text-align: center;
        margin: 0 10px;
    }

    .custom-instance-types .types-item .inner {
        padding-top: 6px;
        height: 30px;
    }

    .custom-instance-types .types-item:hover, .custom-instance-types .types-item.selected {
        opacity: 1;
    }

    .custom-instance-types .types-item h6 {
        margin-top: 5px;
        text-align: center;
    }

    .custom-instance-types .options {
        margin: 10px 0;
    }

    .types-options:first-child {
        margin-left: 0;
    }

    .disk-options{
        width: 112px;
    }

    .types-options {
        padding: 20px 7px;
        background: #fff;
        color: #1f90c8;
        border: 1px solid #cfeaf8;
        font-size: 16px;
        margin: 0 4px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .types-options:first-child {
        margin-left: 0;
    }

    .types-options.selected {
        border: 1px solid #1c82b4;
        background: #1f90c8;
        color: #fff;
    }

    .types-options.disabled {
        cursor: no-drop;
        border: 1px solid #d6d6d6;
        background: #eee;
        color: #777;
        -webkit-text-shadow: 0 1px #fff;
        -moz-text-shadow: 0 1px #fff;
        text-shadow: 0 1px #fff;
    }

    .types-options.disabled:hover {
        border: 1px solid #d6d6d6;
        background: #eee;
        color: #777;
    }
    .input-tip {
        color: red;
        display: none;
    }
</style>